<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giới thiệu bản thân || Nguyễn Xuân Hạnh</title>
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendors/fontawesome-free-5.1.0-web/css/all.css" rel="stylesheet" />
</head>
<body>
    @RenderBody();

    <script src="~/assets/vendors/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>